div(class="main__content")
    h1 Монтаж дымоходов
    hr(class="title__line")
    div(class="home__page")
        p(class="title__p") Главная
        img(class="look", src="../../assets/images/look.svg", alt="look")
        p(class="title__p__colored") Монтаж дымоходов
    hr(class="title__line__second")
    div(class="text__container")
        p(class="main__text") В #[span(class="red__colored") Дымоход.ру] вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
    div(class="picture__content")
        div(class="column")
            div(class="picture__content__text")
                p Lorem ipsum dolor sit amet 
                p(class="huge__words") Lorem ipsum
            ul(class="picture__content__list") 
                li(class="li__bottom-margin")  Доступные цены
                li(class="li__bottom-margin") Собственное производство  Дымоходов
                li(class="li__bottom-margin") Выполнение необходимых работ, связанных с установкой <br> камина, печи, котла 
                li(class="li__bottom-margin") Гарантия (от трёх до десяти лет)
                li(class="li__bottom-margin") Работаем чисто, аккуратно, убираем за собой, не <br> сквернословим
                li(class="li__bottom-margin") Только русские квалифицированные специалисты
                li(class="li__bottom-margin") Устанавливаем любые дымоходы всех производителей
        div(class="picture__place")
            img(src="../../assets/images/Blob.svg", alt="Blob")
    div(class="fat__red__line")
    h2 Процесс выполнения монтажа
    div(class="process__steps")
        div(class="step__inline__first")
            p(class="huge__number") 1
            p(class="main__text") Рассчёт предварительной заявки
        div(class="step__inline__second")
            p(class="huge__number") 2
            p(class="main__text") Замер объекта нашим инженером
        div(class="step__inline__third")
            p(class="huge__number") 3
            p(class="main__text") Составление Коммерческого предложения по изделиям <br> дымохода и окончательной сметы на  работы 
    div(class="process__steps__last")
        div(class="step__inline__first")
            p(class="huge__number") 4
            p(class="main__text") Изготовление Дымохода, покраска (если требуется)
        div(class="step__inline__second")
            p(class="huge__number") 5
            p(class="main__text") Монтаж продукции, проверка и наладкапробный запуск <br> системы и последующая эксплуатация
        div(class="step__inline__third")
            p(class="huge__number") 6
            p(class="main__text") Гарантийное обслуживание по соответствующем сроку
        